<div class="container">
  <div class="card-row">
    <div class="card-header">

      <h1>My task list</h1>
    </div>
    <div class="card-body">
      <input class="form-control" type="text" name="newtask" id="newtask">
      <button class="btn btn-outline-primary" type="submit">Add Task</button>
    </div>
    <div class="card-body">
      <h2>My current task</h2>
      <ul>
        <li>task1</li>
        <li>task2</li>
        <li>task3</li>
        <li>task4</li>
      </ul>
    </div>
  </div>
</div>
